body {
  background:#dddddd;
  color:black;
  font-size:0.7em;
  margin:0px;
}

ul {
  list-style-type:none;
}

h1, h2 {
  font-weight:normal;
  font-size:5em;
  letter-spacing:0.5em;
  text-transform:uppercase;
  margin:0.1em;
}

h2 {
  font-size:2em;
  text-align:center;
  margin-bottom:1em;
}

h3, .nav li {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.15em;
  text-transform:uppercase;
}

h3 {
  text-align: center;
}

#me {
  width: 7em;
  height:7em;
  margin-left:49%;
  margin-right:50%;
  border-radius:50%;
}

.svg {
  width:85%;
  margin:auto;
  margin-bottom:-0.3em;
}

[class*='col-'] {
  width:100%;
}

.nav {
  position: fixed;
  width:98%;
  background-color:white;
  margin-top:0px;
  z-index:1;
}

.topic {
  width:85%;
  margin:auto;
  background-color:#eeeeee;
  padding: 4em 2em 4em 2em;
  /*margin: 0em 2em 7em 2em;*/
  box-sizing:border-box;
}

.landing {
  text-align: center;
  height:80vh;
  padding-top:30vh;
  padding-bottom:30vh;
  box-sizing:border-box;
}

.row {
  overflow:auto;
}

.skill {
/*  border:1px solid #aaaaaa;*/
  background-color: #dddddd;
  margin:1%;
  padding: 1em 0em 1em 0em;
  line-height:1.5em;
}

.nav li {
  float:right;
  margin-left:1em;
  margin-right:1em;
  padding:1em;
  font-size:0.8em;
}

#home {
  float:left;
}


/*---------------------SKILL BAR---------------------*/

.skill ul {
  width:90%;
  margin:auto;
  padding:0px;
}

.skillbar {
  position:relative;
  display:block;
  margin-bottom:0.6em;
  width:100%;
  background:#eee;
  height:1.5em;
  -webkit-transition:0.4s ease;
  -moz-transition:0.4s ease;
  -ms-transition:0.4s ease;
  -o-transition:0.4s ease;
  transition:0.4s ease;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}


.skillbar-bar {
  height:1.5em;
  width:0px;
  -webkit-filter: brightness(88%); /* Safari */
  filter: brightness(88%);
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:7em;
  font-size:0.7em;
  color:#ffffff;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}

.skillbar-title span {
  display:block;
  padding:0 1em;
  height:1.9em;
  line-height:1.9em;
  background:rgba(0, 0, 0, 0.3);
}

.html {
  background-color: #EC662B;
}

.css {
  background-color: #33A9DC;
}

.jquery {
  background-color: #0769AD;
}

.javascript {
  background-color: #FFD83A;
}

.angular {
  background-color: #CD2C27;
}

.react {
  background-color: #00D8FF;
}

.node {
  background-color: #90C53F;
}

.express {
  background-color: #3AA040;
}

.sql {
  background-color: #F29111;
}

.sequelize {
  background-color: #1F6EB5;
}

.mongo {
  background-color: #1D8B37;
}

.gulp {
  background-color: #CF4646;
}

.jasmine {
  background-color: #8A4182;
}

/*-----------------------MEDIA SCREEN--------------------------*/

@media only screen and (min-width: 480px) {
  body {
    font-size:0.9em;
  }
  .col-4 {
    min-height:1%;
    width: 31%;
    float:left;
  }

  .col-6 {
    float:left;
    width:50%;
  }
  .skillbar-title span {
    padding:0 1em;
    height:2.15em;
    line-height:2.15em;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    font-size:1.3em;
  }
}