body {
  background:#e0e0e0;
  color:black;
  font-size:0.7em;
  margin:0px;
}

ul {
  list-style-type:none;
}

h1 {
  font-weight:normal;
  font-size:5em;
  letter-spacing:0.5em;
  text-transform:uppercase;
  margin:0.1em;
}

h3, .nav li {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.15em;
  text-transform:uppercase;
}

.nav {
  position: fixed;
  width:98%;
  background-color:white;
  margin-top:0px;
}

.landing {
  text-align: center;
  height:80vh;
  padding-top:30vh;
  padding-bottom:30vh;
  box-sizing:border-box;
}

.nav li {
  float:right;
  margin-left:1em;
  margin-right:1em;
  padding:1em;
  font-size:0.8em;
}

#home {
  float:left;
}

@media only screen and (min-width: 480px) {
  body {
    font-size:0.9em;
  }
}

@media only screen and (min-width: 1500px) {
  body {
    font-size:1.3em;
  }
}